<div class= "col-xs-8 col-xs-offset-2 see-box text-left">
	<h2> Upload pictures </h2>

<%= simple_form_for @post do |f| %>
	<%= f.input :title, label: 'what is it?' %>
	<%= f.input :description, label: 'tell us about it' %>
	<%= f.input :image %>
	<%= f.button :submit, label: 'submit' , :class => ' btn btn-warning'%>

	<%= %>




<% end %>

</div>